* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  $sider-width: calc(100% / 3);

  .block {
    width: 100%;
    height: 100%;
    padding: 3rem;

    &-left {
      background-color: $primary-light;
      width: calc(100% - #{$sider-width});
    }

    &-right {
      background-color: $dark;
      width: $sider-width;
    }
  }
}

main {
  width: 445px;
}

.inputBox {
  position: relative;

  input {
    width: 100%;
    height: 56px;
    border: none;
    line-height: 56px;
    padding: 0 1rem;
    padding-right: calc(24px + 1rem);
    color: $primary;
    font-weight: bold;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $primary;
      font-weight: bold;
      font-style: italic;
    }
  }

  a {
    position: absolute;
    top: calc( (56px / 2) - 12px );
    right: 1rem;
    cursor: pointer;
    color: $primary;
  }
}